[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/pathogens"]
	path = themes/pathogens
	url = https://github.com/ScilifelabDataCentre/node-pathogens-portal-theme/
